{% extends 'clouds/cloudbase.html' %}
{% load static %}
{% block contents %}
<div id="qbootstrap-counter" class="qbootstrap-counters" style="background-image: url({% static 'images/img_bg_2.jpg'%});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-group-outline"></i></span>
							<span class="qbootstrap-counter js-counter" data-from="0" data-to="65535" data-speed="5000" data-refresh-interval="50"></span>
							<span class="qbootstrap-counter-label">Satisfied Customer</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-home-outline"></i></span>
							<span class="qbootstrap-counter js-counter" data-from="0" data-to="378" data-speed="5000" data-refresh-interval="50"></span>
							<span class="qbootstrap-counter-label">Cloud Hosts</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-user-add-outline"></i></span>
							<span class="qbootstrap-counter js-counter" data-from="0" data-to="400" data-speed="5000" data-refresh-interval="50"></span>
							<span class="qbootstrap-counter-label">Qualified Professionals</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-point-of-interest-outline"></i></span>
							<span class="qbootstrap-counter js-counter" data-from="0" data-to="30" data-speed="5000" data-refresh-interval="50"></span>
							<span class="qbootstrap-counter-label">Nodes</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}